<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p th:text="${p}">Hello, S</p>
        <form action = '/hello' method = 'post' >
            <input type = 'text' name = 'myname' />
            <select name = 'language' id='language'>
                <option value='English'>English
                </option>
                <option value='Spanish'>Spanish
                </option>
                <option value='Italian'>Italian</option>
                <option value='French'>French</option>
                <option value='German'>German</option>
            </select>
            <input type='submit' value='Greet Me!'/>
        </form>
    </body>
</html>